

.carouselslide{
  display: flex;
  justify-content: center;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 750px;
 

}
.longlogo{
  display: flex;
  justify-content: center;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height:60%;
}
.social{
 
  float: right;
}
.footer
{
  display: inline;
  margin: 0 35px;
  float: right;
}



/* navigation*/


body {

margin: 0;
background: none;
font-family:  sans-serif;
color: white;
font-weight: 400;
}

p.festival{
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}
.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background: whitesmoke;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo{
  float: left;
} 

nav{
float: right;
}

nav ul{
  margin: 0;
  padding: 0px;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px; 
  padding-top: 100px;
  
  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: darkslategrey; 
}

nav a::before{
  
  content: '';
  display: block;
  height: 5px;
  
  background-color: black;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}


/* parallax scrolling code*/
#img {
    max-width: 100%;
    height: auto;
  }
  #home { 
    background: url(images/brooklyn-bridge.jpg) 50% 0 no-repeat fixed; min-height: 1000px;
    height: 100px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #home article { 
    height: 1920px; 
    position: absolute; 
    text-align: center; 
    top: 150px; 
    width: 100%; 
    color: #000;
  }
   
  #about { 
    min-height: 500px;  
    height: 350px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
  }
  
  #about article { 
    height: 458px; 
    position: absolute; 
    text-align: center; 
    top: 150px; 
    width: 100%; 
  }
   
 /* grid for films page */
 
 .containergrid {
   display: grid;
   grid-template: repeat(6,1fr) / repeat(6,1fr);
   grid-template-rows: 1fr 0.05fr 1fr 1fr 1fr 1fr;
   grid-template-areas:
   "v a a b b b"
   "x x c d e z"
   "w f g k p z"
   "w j h l u z"
   "w n o m s z"
   "w r i t q z"
  
}

*{
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  
}
   header#a {
    padding: 30px;
    background-color: rgb(206, 199, 199);
    grid-area: a;
  }
  header#b {
   padding: 50px;
    background-color: rgb(206, 199, 199);
    grid-area: b;
  }
  section#c {
    height: 65px;
    padding-top: 45px;
    
    grid-area: c;
  }
  section#d { 

    padding-top: 40px;
    
    grid-area: d;
  }
  section#e {
    padding-top: 10px;
    padding-right: 10px;
    grid-area: e;
  }
  section#f {
    height: 350px;
    width: 200px;
    grid-area: f;
    padding-top: 5em;
  }
  section#g {
   
    height: 350px;
    width: 200px;
   
    grid-area: g;
  }
  section#h {
    height: 350px;
    width: 200px;
    
    grid-area: h;
  }
  section#i {
    
    height: 350px;
    width: 200px;
   
    grid-area: i;
  }
  section#j {
    
    height: 350px;
    width: 200px;
    grid-area: j;
    padding-top: 5em;
  }
  section#k {
   
    height: 350px;
    width: 200px;
    grid-area: k;
  }
  section#l {
 
    height: 350px;
    width: 200px;
   
    grid-area: l;
  }
  section#m {
   
    height: 350px;
    width: 200px;
    grid-area: m;
  }
  section#n {
   
    height: 350px;
    width: 200px;
    grid-area: n;
    padding-top: 5em;
  }
  section#o {
   
    height: 350px;
    width: 200px;
    grid-area: o;
  }
  section#p {
    
    height: 350px;
    width: 200px;
   
    grid-area: p;
  }
  section#q {
  
    height: 350px;
    width: 200px;
    
    grid-area: q;
  }
  section#r {
    
    height: 350px;
    width: 200px;
    padding-top: 5em;
    grid-area: r;
  }
  section#s {
  
    height: 350px;
    width: 200px;
    grid-area: s;
  }
  section#t {
    
    height: 350px;
    width: 200px;
    grid-area: t;
  }
  section#u {
   
    height: 350px;
    width: 200px;
    
    grid-area: u;
  }
  section#v {
 
   
    background-color: rgb(206, 199, 199); 
    grid-area: v;
   
  }
  section#w {

    
    grid-area: w;
    background-color: none; 
  }
  section#v1 {

    grid-area: x;
    background-color: none; 
  }
  section#vv {
 
   
    background-color: rgb(206, 199, 199); 
    grid-area: Y;
   
  }
  section#ww {

    
    grid-area: z;
    background-color: none; 
  }



 #box1{
   background-color: #ffffff;
   
 }
 #box2{
  background-color: lightgrey;
}
/* code for lightbox goonies */

.backdrop{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
  
}
.box {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}
/* code for lightbox jungle book */

.backdrop1{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box1 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close1{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}
/* code for lightbox Giant */
.backdrop2{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box2 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close2{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Gremlins */
.backdrop3{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box3 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close3{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}


/* code for Star Wars */
.backdrop4{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box4 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close4{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Star Wars */
.backdrop5{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box5 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close5{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Batman */
.backdrop6{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box6{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close6{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Gremlins 2 */
.backdrop7{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box7 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close7{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Thing */
.backdrop8{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box8 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close8{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Nightmare */
.backdrop9{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box9 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close9{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Big Trouble */
.backdrop10{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box10 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close10{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}

/* code for Aliens */
.backdrop11{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 225%;
  background: #000;
  opacity: .0;
  filter: aplha (opacity=0);
  z-index:0;
  display:none;
}
.box11 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  color: darkslategray;
  text-align: center;
  top: 20%;
  left: 30%;
  padding-left: 20px;
  background: #ffffff;
  z-index:51;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  max-width: 850px;
}

#close11{
	position:absolute;
	right:20px;
	top:20px;
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	width:20px;
	border-radius:15px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}